Repository UNLV-CS472-672/2024-F-GROUP3-RebelHub, pull requests merged in 2024-11, with the labels that each got.

#39 Backend comments
  backend/.coverage
  backend/Comments/__init__.py
  backend/Comments/admin.py
  backend/Comments/apps.py
  backend/Comments/migrations/0001_initial.py
  backend/Comments/migrations/0002_alter_comment_options_remove_comment_downvotes_and_more.py
  backend/Comments/migrations/__init__.py
  backend/Comments/models.py
  backend/Comments/serializers.py
  backend/Comments/tests.py
  backend/Comments/urls.py
  backend/Comments/views.py
  backend/rebel_hubs/settings.py
  backend/rebel_hubs/urls.py
Labels: backend

#65 Datetime conversion helper functions
  frontend/src/components/Calendar/CreateForm.js
  frontend/src/components/Calendar/EventModal.js
  frontend/src/components/Calendar/UpdateForm.js
  frontend/src/utils/datetime-conversion.js
Labels: frontend

#66 Edit post button
  backend/Posts/migrations/0005_post_last_edited.py
  backend/Posts/models.py
  backend/Posts/serializers.py
  backend/Posts/tests.py
  backend/Posts/urls.py
  backend/Posts/views.py
  frontend/src/components/posts/buttons/create-post-button.tsx
  frontend/src/components/posts/buttons/delete-post-button.tsx
  frontend/src/components/posts/buttons/edit-post-button.tsx
  frontend/src/components/posts/buttons/like-dislike-buttons.tsx
  frontend/src/components/posts/buttons/post-buttons.module.css
  frontend/src/components/posts/forms/create-input-hub.tsx
  frontend/src/components/posts/forms/create-input.module.css
  frontend/src/components/posts/forms/create-input.tsx
  frontend/src/components/posts/forms/create-post-form.module.css
  frontend/src/components/posts/forms/create-post-form.tsx
  frontend/src/components/posts/forms/edit-post-form.module.css
  frontend/src/components/posts/forms/edit-post-form.tsx
  frontend/src/components/posts/modals/delete-modal.module.css
  frontend/src/components/posts/modals/delete-modal.tsx
  frontend/src/components/posts/modals/delete-post-modal.tsx
  frontend/src/components/posts/modals/edit-post-modal.module.css
  frontend/src/components/posts/modals/edit-post-modal.tsx
  frontend/src/components/posts/others/EditedHover.module.css
  frontend/src/components/posts/others/EditedHover.tsx
  frontend/src/components/posts/pages/detailed-post.tsx
  frontend/src/components/posts/pages/post-pages.module.css
  frontend/src/components/posts/pages/posts.tsx
  frontend/src/components/posts/post-list.module.css
  frontend/src/components/posts/post-list.tsx
  frontend/src/components/posts/post-summary-detailed.module.css
  frontend/src/components/posts/post-summary-detailed.tsx
  frontend/src/components/posts/post-summary.module.css
  frontend/src/components/posts/post-summary.tsx
  frontend/src/components/posts/posts.module.css
  frontend/src/utils/posts/create-post-validations.ts
  frontend/src/utils/posts/definitions.ts
  frontend/src/utils/url-segments.ts
Labels: backend, frontend

#70 Hubs Frontend
  backend/hubs/serializers.py
  backend/users/serializers.py
  backend/users/urls.py
  backend/users/views.py
  frontend/public/navbar/logo/logoreturn.png
  frontend/src/app/hubs/[id]/page.js
  frontend/src/app/hubs/page.js
  frontend/src/components/hubs/HubCreate.js
  frontend/src/components/hubs/HubCreate.module.css
  frontend/src/components/hubs/HubEdit.js
  frontend/src/components/hubs/HubEdit.module.css
  frontend/src/components/hubs/HubListView.js
  frontend/src/components/hubs/HubListView.module.css
  frontend/src/components/hubs/HubPage.js
  frontend/src/components/hubs/HubPage.module.css
  frontend/src/components/hubs/MemberList.js
  frontend/src/components/hubs/MemberList.module.css
  frontend/src/components/hubs/TwoSideView.js
  frontend/src/components/hubs/TwoSideView.module.css
  frontend/src/components/navbar/AccountButton.js
  frontend/src/components/navbar/RebelHubNavBar.js
  frontend/src/components/navbar/RebelHubNavBar.module.css
Labels: frontend

#67 Comment components
  backend/Comments/serializers.py
  backend/Comments/urls.py
  backend/Comments/views.py
  backend/users/urls.py
  backend/users/views.py
  frontend/src/app/explore/page.js
  frontend/src/components/comments/CreateComment.tsx
  frontend/src/components/comments/RecursiveComment.module.css
  frontend/src/components/comments/RecursiveComment.tsx
  frontend/src/components/comments/RecursiveCommentList.module.css
  frontend/src/components/comments/RecursiveCommentList.tsx
  frontend/src/components/comments/SingleComment.module.css
  frontend/src/components/comments/SingleComment.tsx
  frontend/src/components/comments/buttons/CommentButtons.module.css
  frontend/src/components/comments/buttons/CreateCommentButton.tsx
  frontend/src/components/comments/buttons/DeleteCommentButton.tsx
  frontend/src/components/comments/buttons/ShowMoreButton.tsx
  frontend/src/components/comments/forms/CreateCommentForm.module.css
  frontend/src/components/comments/forms/CreateCommentForm.tsx
  frontend/src/components/navbar/AccountButton.js
  frontend/src/components/posts/buttons/delete-post-button.tsx
  frontend/src/components/posts/buttons/like-dislike-buttons.tsx
  frontend/src/components/posts/buttons/post-buttons.module.css
  frontend/src/components/posts/forms/create-input.tsx
  frontend/src/components/posts/forms/edit-post-form.tsx
  frontend/src/components/posts/modals/delete-modal.module.css
  frontend/src/components/posts/modals/delete-modal.tsx
  frontend/src/components/posts/modals/edit-post-modal.module.css
  frontend/src/components/posts/post-summary-detailed.tsx
  frontend/src/utils/comments/CreateCommentValidations.ts
  frontend/src/utils/posts/create-post-validations.ts
  frontend/src/utils/posts/definitions.ts
  frontend/src/utils/url-segments.ts
Labels: backend, frontend
